@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');

:root {
    --background-1: white;
    --text-1: black;
    --shadow-1: lightgrey;
    --chart-1: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-1);
    color: var(--text-1);
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
